<h3>Add Transformers:</h3>

<div class="container">
  <form [formGroup]="transformerData" (ngSubmit)="onSubmit()">
    <div class="row">
      <label for="name">Name: </label>
      <input type="text" id="name" name="name" formControlName="name">
    </div>

    <div class="row">
      <label for="team">Team: </label>
      <select id="team" name="team" formControlName="team">
        <option value="A">Autobot</option>
        <option value="D">Decepticon</option>
      </select>
    </div>

    <div class="row">
      <div class="column">
        <label for="strength">STR: </label>
        <input type="number" id="strength" formControlName="strength" min="1" max="10">
      </div>

      <div class="column">
        <label for="intelligence">INT: </label>
        <input type="number" id="intelligence" formControlName="intelligence" min="1" max="10">
      </div>

      <div class="column">
        <label for="speed">SPD: </label>
        <input type="number" id="speed" formControlName="speed" min="1" max="10">
      </div>

      <div class="column">
        <label for="endurance">EDR: </label>
        <input type="number" id="endurance" formControlName="endurance" min="1" max="10">
      </div>
    </div>

    <div class="row">
      <div class="column">
        <label for="rank">RNK: </label>
        <input type="number" id="rank" formControlName="rank" min="1" max="10">
      </div>

      <div class="column">
        <label for="courage">COU: </label>
        <input type="number" id="courage" formControlName="courage" min="1" max="10">
      </div>

      <div class="column">
        <label for="firePower">PWR: </label>
        <input type="number" id="firePower" formControlName="firePower" min="1" max="10">
      </div>

      <div class="column">
        <label for="skill">SKL: </label>
        <input type="number" id="skill" formControlName="skill" min="1" max="10">
      </div>
    </div>

    <div class="row">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>

<div *ngIf="teamAutobot.length > 0 || teamDecepticon.length > 0">
  <hr>
  <h3>List of Transformers:</h3>
  <div class="container">
    <h4>Team Autobot:</h4>
    <div class="row" *ngFor="let transformer of teamAutobot">
        {{transformer.name}}, {{transformer.team}}, {{transformer.strength}}, {{transformer.intelligence}},
        {{transformer.speed}}, {{transformer.endurance}}, {{transformer.rank}}, {{transformer.courage}},
        {{transformer.firePower}}, {{transformer.skill}}
    </div>
  
    <h4>Team Decepticon:</h4>
    <div class="row" *ngFor="let transformer of teamDecepticon">
        {{transformer.name}}, {{transformer.team}}, {{transformer.strength}}, {{transformer.intelligence}},
        {{transformer.speed}}, {{transformer.endurance}}, {{transformer.rank}}, {{transformer.courage}},
        {{transformer.firePower}}, {{transformer.skill}}
    </div>
  </div>
</div>



<div class="container" *ngIf="teamAutobot.length > 0 && teamDecepticon.length > 0">
  <hr>
  <button (click)="startBattle()">Start Battle!</button>
  <div *ngIf="winnerTeamDescription">
    <h3>Result:</h3>

    <ng-container *ngIf="winnerTeamDescription !== 'Draw'; else draw">
      <div class="row">
        {{numberOfFights}} battle
      </div>
      <div class="row">
        Winning team ({{winnerTeamDescription}}):
        <span *ngFor="let transformer of winnerTeam">
          {{transformer.name}} 
        </span>
      </div>
      <div class="row">
        Survivors from the losing team:
        <span *ngFor="let transformer of survivors">
          {{transformer.name}} 
        </span>
      </div>
    </ng-container>
  
    <ng-template #draw>
      <div class="row">
        <h5> Draw </h5>
      </div>
    </ng-template>
  </div>


</div>