<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="./../assets/img/app.component.jpg"
  />
  <span>Tom Cho</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">

  <!-- Resources -->
  <h2>Assignments</h2>

  <div class="card-container">
    <a class="card" routerLink="part1">
      <span>Part 1: The Castle Company</span>

    </a>

    <a class="card" routerLink="part2">
      <span>Part 2: The Transformation Company</span>

    </a>
  </div>
  <router-outlet></router-outlet>

