
<form [formGroup]="heightData" (ngSubmit)="onSubmit()">
  <div class="row">
    <label for="name">Add heights: </label>
    <input type="text" id="height" name="height" formControlName="height">
  </div>

  <div class="row">
    <input type="submit" value="Submit">
  </div>
  
  <div class="row" *ngIf="heights.length > 0">
    <hr>
    Current heights: 
    <span *ngFor="let height of heights">
      {{height}} 
    </span>
  </div>

  <div class="row" *ngIf="heights.length > 0">
    <h3>
    Number of possible castles can be built: 
    {{getPossibleNumOfCastles(heights)}}
    </h3>
  </div>

</form>
